@import "tailwindcss";

@theme {
    /* Colors */
    --color-primary: var(--color-primary);
    --color-primary-hover: var(--color-primary-dark);
    --color-secondary: var(--color-text);
    --color-accent: var(--color-accent);
    --color-accent-hover: var(--color-accent-darker);
}

:root {
    /* Layout */
    --max-width: var(--container-5xl);

    /* Colors */
    --color-primary: var(--color-gray-400);
    --color-primary-dark: var(--color-gray-500);
    --color-text: var(--color-gray-900);
    --color-accent: var(--color-rose-400);
    --color-accent-darker: var(--color-rose-500);
    --color-accent-darkest: var(--color-rose-600);
    --color-accent-lighter: var(--color-rose-300);
    --color-accent-lightest: var(--color-rose-200);
    
    /* Text */
    --font-family-base: 'Inter', sans-serif;
    --font-size-base: 16px;

    /* Spacing */
    --spacing-base: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Colors */
        --color-primary: var(--color-gray-950);
        --color-primary-dark: var(--color-gray-800);
        --color-text: var(--color-gray-400);
    }
}

@layer base {
    html, body, #root {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    
    body {
        background: var(--color-primary);
        color: var(--color-secondary);
        font-family: var(--font-family-base);
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
        color: var(--color-gray-100);
    }
}